Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy>=1.9.2
scipy>=0.15.1
scikit-learn>=0.18
pandas>=0.19
matplotlib>=1.4.3
python-Levenshtein==0.12.0
pytesseract==0.3.6
opencv-python==4.2.0.34
tesseract-ocr
libtesseract-dev
pillow>=7.1.0 # not directly required, pinned by Snyk to avoid a vulnerability